<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Found entry</h1>
        <p>ID: {{id}}</p>
        <p>URL: {{url}}</p>
        <p>SHORT CODE: {{shortcode}}</p>
        <p>CREATED AT: {{created_at}}</p>
        <p>LAST UPDATED: {{updated_at}}</p>
    </div>
    <div>
        <form action="/">
            <button type="submit">Return to home</button>
        </form>
    </div>
</body>
</html>