<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shorten URL</title>
</head>
<body>
    <h1>URL Shortener</h1>
    <p>{{shortcode}}</p>
    <div>
        <form method="post" action="/shorten">
            <p>Enter your URL to shorten it</p>
            <input type="text" placeholder="URL" name="url" id="url">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form method="get" action="/shorten">
            <p>Enter a short code to retrieve from database</p>
            <input type="text" placeholder="Short Code" name="shortcode" id="shortcode">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <form method="post" action="/shorten">
            <input type="hidden" name="_method" value="PUT">
            <p>Enter a short code to update in database</p>
            <input type="text" placeholder="Short Code" name="shortcode" id="update-shortcode">
            <input type="text" placeholder="New URL" name="url" id="update-url">
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <form method="post" action="/shorten">
            <input type="hidden" name="_method" value="DELETE">
            <p>Enter a short code to delete in database</p>
            <input type="text" placeholder="Short Code" name="shortcode" id="update-shortcode">
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <form method="get" action="/shorten/stats">
            <p>Enter a short code to retrieve stats for an entry from database.</p>
            <input type="text" placeholder="Short Code" name="shortcode" id="shortcode">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>